* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
} 

body {
    background-color: #020A18;
}

.header-link {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    padding: 40px 16px;
}

.nav {
    display: flex;
    justify-content: center;
}

.container {
    width: 1147px;
    margin: 0 auto;
}

.header-link:hover {
    color: #3A68B8;
}

.header {
    margin-bottom: 80px;
}

.subtitle {
    color: var(--3-a-68-b-8, #3A68B8);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    text-transform: uppercase;
    margin-bottom: 10px;
}

.title {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 49px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; /* 71.5px */
    margin-bottom: 40px;
}

.dsc {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    opacity: 0.7;
    margin-bottom: 50px;
}

.main-link  {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #3A68B8;
    text-decoration: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin-right: 20px;
    border: 2px solid transparent;
    transition: all 0.5s;
}

.fa-play {
    margin-right: 10px;
}

.main-link:hover {
    color: #3A68B8;
    background-color: #fff;
    border: 2px solid #3A68B8;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.main-left, .main-right {
    width: 47%;
}

.main-right {
    display: flex;
    justify-content: end;
}


.logo {
    margin-top: 197px;
    margin-bottom: 128px;
}

.about{
    margin-top: 128px;
    margin-bottom: 132px;
}

.align_center {
    align-items: center;
}

.img_about {
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.about_title {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 52px */
}

.welcome {
    margin-top: 132px;
    margin-bottom: 121px;
}

.subtitle_welcome {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 31.25px */
    opacity: 0.7;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.p_welcome {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    opacity: 0.7;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.welcome_cell {
    width: 362px;
    height: 389px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #132035;
}

.welcome_img_small {
    margin: 30px 132px;
    width: 98px;
    height: 103px;
}

.welcome_img_large {
    margin: 60px 264px;
    width: 306px;
    height: 322px;
}


.flex_welcome {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    align-content: stretch;
    flex-direction: row;
    gap: 30px
}

.welcome_big_cell {
    width: 754px;
    height: 808px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #132035;
    align-items: center;
}

.about2_title {
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 52px */
}

.about2_dsc {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    opacity: 0.7;
    width: 460px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.about2 {
    margin-top: 121px;
    margin-bottom: 110px;
}

.footer {
    margin-top: 110px;
    height: 250px;
    border-radius: 10px;
    
}

.footertitle {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 12px;
    padding-top: 33px;

}

.footerdsc {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 12px;
    padding-bottom: 12px;

}

.footerdsc_center_italics {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
    opacity: 0.6;
    width: 261px;
}

.footer_flex {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.flex_info_left {
    display: flex;
    gap: 10px;
}

.flex_info_right {
    display: flex;
    gap: 12px;
}

.aboutuscat{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 60%;
}